body {
  background-color: #00bfff;
  font-family: sans-serif;
  padding: 20px;
}

h1 {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 15px;
}

h2 {
	font-style: bold;
  font-size: 30px;
}
#code{
text-align: left;
white-space: pre;
}

.established {
  font-style: italic;
}

h1, h2, p {
  text-align: center;
}
footer{
text-align: center;
}